[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygithub = "*"
flask = "*"
aws-wsgi = {git = "https://github.com/astronouth7303/awsgi.git",ref = "fix-elb"}
github-webhook = "*"

[requires]
python_version = "3.7"
